{erl_opts, [debug_info, {src_dirs, ["src", "test"]}]}.
{project_plugins, [rebar3_format, steamroller]}.
{plugins, [rebar3_format, steamroller]}.
{deps, [jiffy, hackney]}.
{format, [
    {files, ["src/*.erl", "include/*.hrl"]},
    {ignore, ["src/*_ignore.erl", "src/ignored_file_config.erl"]},
    {formatter, sr_formatter}, %% The steamroller formatter.
    {options, #{line_length => 80}}
]}.
{relx, [
    {release, {statsig, "0.1.0"}, [statsig]},
    {dev_mode, false},
    {include_erts, false},
    {extended_start_script, true}]
}.
