name: kong

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  kong:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Get kong
        run: |
          git clone https://${{ secrets.REPO_PAT }}@github.com/statsig-io/kong.git

      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"

      - uses: gleam-lang/setup-erlang@v1.1.3
        with:
          otp-version: "23.2"

      - name: Compile and Release
        run: |
          cd kong/bridges/erlang-server
          ./update_sdk_version.sh $GITHUB_SHA
          rebar3 release

      - name: Run Tests
        run: |
          cd kong
          npm install
          FORCE_COLOR=true npm run kong -- test erlang
        env:
          test_api_key: ${{ secrets.SDK_CONSISTENCY_TEST_COMPANY_API_KEY }}
